{% assign entries = site[include.collection] %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
  {%- unless post.hidden -%}
    {% if include.collection == 'players' %}
      {% include player-archive-single.html %}
    {% elsif include.collection == 'pairings' %}
      {% include pairing-archive-single.html %}
    {% elsif include.collection == 'rankings' %}
      {% include ranking-archive-single.html %}
    {% endif %}
  {%- endunless -%}
{%- endfor -%}