---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
{% if page.phase and site.data.phases[page.phase] %}
  {% assign phase = site.data.phases[page.phase] %}
  {% assign pairing_title = "Sigmar Eskaliert " | append: phase.name %}
{% endif %}
  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
        {% if pairing_title %}<meta itemprop="headline" content="{{ pairing_title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if phase.time_frame %}<meta itemprop="description" content="{{ phase.time_frame | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if pairing_title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ pairing_title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {% if phase %}
          <p>Runde {{ page.phase }} der Sigmar Eskaliert Liga.</p>
          {% if phase.mission %}<p>{{ phase.mission }}</p>{% endif %}
        {% endif %}

        {% if phase and phase.map %}
          {% assign image_file = site.static_files | where: "basename", phase.map | first %}
          <p><a href="{{ image_file.path | relative_url }}"><img src="{{ image_file.path | relative_url }}" alt="{{ phase.map }}"></a></p>
        {% endif %}
        
        {% if phase and site.data.pairings[phase.paring_data] %}
          <table>
            <thead>
              <tr><td>Spieler:in A</td><td>Spieler:in B</td><td>Score</td><td>Sieger (Team)</td></tr>
            </thead>
            <tbody>
          {% for pairing in site.data.pairings[phase.paring_data] %}
            {% assign player_a_path = "_players/" | append: pairing.player_a | append: ".md" %}
            {% assign player_b_path = "_players/" | append: pairing.player_b | append: ".md" %}
            {% assign winner_path = "_players/" | append: pairing.winner | append: ".md" %}
            {% assign player_data_a = site.players | where: "filename", pairing.player_a | first %}
            {% assign player_data_b = site.players | where: "filename", pairing.player_b | first %}
            {% if player_data_a.team %}
              {% assign player_a_text = player_data_a.displayname | append: " (" | append: player_data_a.team | append: ")" %}
            {% endif%}
            {% if player_data_b.team %}
              {% assign player_b_text = player_data_b.displayname | append: " (" | append: player_data_b.team | append: ")" %}
            {% endif%}
            {% if pairing.winner %}
              {% assign winner_data = site.players | where: "filename", pairing.winner | first %}
            {% endif %}

            <tr>
              <td><a href ="{% link {{ player_a_path }} %}">{{ player_a_text }}</a></td>
              <td><a href ="{% link {{ player_b_path }} %}">{{ player_b_text }}</a></td>
              {% if pairing.score != null and pairing.score != "" %}<td style="width: 60px">{{ pairing.score }}</td>{% else %}<td></td>{% endif %}
              {% if pairing.winner != null and pairing.winner != "" %}<td><a href ="{% link {{ winner_path }} %}">{% if winner_data.team %}{{ winner_data.team }}{% else %}{{ winner_data.displayname}}{% endif %}</a></td>{% endif %}
            </tr>
          {% endfor %}
          </tbody>
          </table>
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>
    
    {% include post_pagination.html %}
    </div>
  </article>
</div>