---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
{% if page.phase and page.phase == "total" %}
  {% assign phase = "total" %}
  {% assign ranking_title = "Gesamttabelle" %}
{% elsif page.phase and site.data.phases[page.phase] %}
  {% assign phase = site.data.phases[page.phase] %}
  {% assign ranking_title = "Sigmar Eskaliert " | append: phase.name %}
{% endif %}
  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
        {% if ranking_title %}<meta itemprop="headline" content="{{ ranking_title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if phase and phase == "total" %}
          <meta itemprop="description" content="{{ "Gesamte Liga"| markdownify | strip_html | strip_newlines | escape_once }}">
        {% elsif phase and phase.time_frame %}
          <meta itemprop="description" content="{{ phase.time_frame | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
    
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if ranking_title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ ranking_title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {% if phase and phase == "total" %}
          <p>Geamttabelle der Sigmar Eskaliert Liga.</p>

          {% for paring_data in site.data.pairings %}
            {% if pairings %}
              {% assign pairings = pairings | concat: paring_data[1] %}
            {% else %}
              {% assign pairings = paring_data[1] %}
            {% endif %}
          {% endfor %}

        {% elsif phase %}
          <p>Runde {{ page.phase }} der Sigmar Eskaliert Liga.</p>
          {% if phase.mission %}<p>{{ phase.mission }}</p>{% endif %}

          {% if site.data.pairings[phase.paring_data] %}
            {% assign pairings = site.data.pairings[phase.paring_data] %}
          {% endif %}
        {% endif %}

        {{ content }}
        
        {% if pairings %}

          {% assign players = '' | split: '' %}
          {% assign rankings = '' | split: '' %}
          <!-- Unique List players from pairing.csv -->
          {% for pairing in pairings %}
            {% assign players = players | push: pairing.player_a %}
            {% assign players = players | push: pairing.player_b %}
          {% endfor %}
          {% assign players = players | uniq %}
          <!-- END Unique List players from pairing.csv -->

          <!-- Extract player ranking data from pairing.csv -->
          {% for player in players %}
            {% assign games = 0 %}
            {% assign painted = 0 %}
            {% assign wins = 0 %}
            {% assign teamwin = 0 %}
            {% for pairing in pairings %}
              {% if pairing.player_a == player %}
                {% if pairing.present_a and pairing.present_a == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.present_a_r2 and pairing.present_a_r2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.painted_a and pairing.painted_a == 'true' %}
                  {% assign painted = painted | plus: 5 %}
                {% endif %}
                {% if pairing.present_a_p2 and pairing.present_a_p2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.present_a_p2_r2 and pairing.present_a_p2_r2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.painted_a_p2 and pairing.painted_a_p2 == 'true' %}
                  {% assign painted = painted | plus: 5 %}
                {% endif %}
              {% elsif pairing.player_b == player %}
                {% if pairing.present_b and pairing.present_b == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.present_b_r2 and pairing.present_b_r2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.painted_b and pairing.painted_b == 'true' %}
                  {% assign painted = painted | plus: 5 %}
                {% endif %}
                {% if pairing.present_b_p2 and pairing.present_b_p2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.present_b_p2_r2 and pairing.present_b_p2_r2 == 'true' %}
                  {% assign games = games | plus: 1 %}
                {% endif %}
                {% if pairing.painted_b_p2 and pairing.painted_b_p2 == 'true' %}
                  {% assign painted = painted | plus: 5 %}
                {% endif %}
              {% endif %}
              {% if pairing.winner == player %}
                {% assign wins = wins | plus: 1 %}
              {% endif %}
              {% if pairing.winner_p2 == player %}
                {% assign wins = wins | plus: 1 %}
              {% endif %}
              {% if pairing.winner_r2 == player %}
                {% assign wins = wins | plus: 1 %}
              {% endif %}
              {% if pairing.winner_p2_r2 == player %}
                {% assign wins = wins | plus: 1 %}
              {% endif %}
              {% if pairing.teamwin == player %}
                {% assign teamwin = teamwin | plus: 2 %}
              {% endif %}
            {% endfor %}
            {% assign score = games | plus: painted | plus: wins | plus: teamwin %}
            {% capture ranking %}
              {{ player }},{{ games }},{{ painted }},{{ wins }},{{ score }}
            {% endcapture %}
            {% assign ranking = ranking | strip %}
            {% assign ranking = ranking | split: ',' %}
            {% assign rankings = rankings | push: ranking %}
          {% endfor %}
          <!-- END Extract player ranking data from pairing.csv -->

          <!-- Brute Force sort player ranking data by score -->
          {% assign size = rankings.size | minus: 1 %}
          {% assign rankings_sorted = '' | split: '' %}
          {% assign visited_idxs = '' | split: '' %}
          {% for i in (0..size) %}

            {% assign max_idx = 0 %}
            {% assign max_score = 0 %}
            {% for j in (0..size) %}
              {% assign curr_score = rankings[j][4] | plus: 0 %}
              {% if curr_score >= max_score %}
                {% unless visited_idxs contains j %}
                  {% assign max_idx = j %}
                  {% assign max_score = curr_score %}
                {% endunless %}
              {% endif %}
            {% endfor %}

            {% assign rankings_sorted = rankings_sorted | push: rankings[max_idx] %}
            {% assign visited_idxs = visited_idxs | push: max_idx %}
          {% endfor %}
          <!-- END Brute Force sort player ranking data by score -->

          <!-- Output player ranking data in table -->
          <table>
            <thead>
              <tr><td>Spieler:in</td><td>Spiele</td><td>Bemalt</td><td>Siege</td><td>Punkte</td></tr>
            </thead>
            <tbody>

          {% assign placement = 1 %}
          {% assign placement_score = rankings_sorted.first[4] %}
          {% for ranking in rankings_sorted %}
            {% if ranking[4] < placement_score %}
              {% assign placement = placement | plus: 1 %}
              {% assign placement_score = ranking[4] %}
            {% endif %}
            {% assign player_path = "_players/" | append: ranking[0] | append: ".md" %}
            {% assign player_data = site.players | where: "filename", ranking[0] | first %}
            {%if player_data.team %}
              {%assign player_text = player_data.displayname | append: " (" | append: player_data.team | append: ")" %}
            {% else %}
              {% assign player_text = player_data.displayname %}
            {% endif %}
            <tr><td><a href ="{% link {{ player_path }} %}">{{ player_text }}</a></td><td>{{ ranking[1] }}</td><td>{{ ranking[2] }}</td><td>{{ ranking[3] }}</td><td>{{ ranking[4] }}</td></tr>
          {% endfor %}

            </tbody>
          </table>
          <!-- END Output player ranking data in table -->
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>
    
    {% include post_pagination.html %}
    </div>
  </article>
</div>